#undef ZMK_BEHAVIORS_KEEP_ALL

#define ZMK_BEHAVIORS_KEEP_IND
#define ZMK_BEHAVIORS_KEEP_BT
#define ZMK_BEHAVIORS_KEEP_GRESC
#define ZMK_BEHAVIORS_KEEP_SYS_RESET
#define ZMK_BEHAVIORS_KEEP_BOOTLOADER
#define ZMK_BEHAVIORS_KEEP_CAPS_WORD
#define ZMK_BEHAVIORS_KEEP_KEY_REPEAT
#define ZMK_BEHAVIORS_KEEP_KT
#define ZMK_BEHAVIORS_KEEP_LT
#define ZMK_BEHAVIORS_KEEP_MT
#define ZMK_BEHAVIORS_KEEP_SK
#define ZMK_BEHAVIORS_KEEP_STICKY_LAYER
#define ZMK_BEHAVIORS_KEEP_TO
#define ZMK_BEHAVIORS_KEEP_TOG
#define ZMK_BEHAVIORS_KEEP_TRANS

#include <dt-bindings/zmk/indicators.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt {
    quick_tap_ms = <200>;
    flavor = "tap-preferred";
    hold-trigger-key-positions = <>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp ESC    &kp N1          &kp N2       &kp N3               &kp N4        &kp N5         &kp N6  &kp N7             &kp N8               &kp N9       &kp N0              &kp BACKSPACE
&none      &kp Q           &kp W        &kp E                &kp R         &kp T          &kp Y   &kp U              &kp I                &kp O        &kp P               &none
&kp TAB    &mt LEFT_ALT A  &mt LCTRL S  &mt RIGHT_COMMAND D  &mt LSHIFT F  &kp G          &kp H   &mt RIGHT_SHIFT J  &mt RIGHT_COMMAND K  &mt RCTRL L  &mt RIGHT_ALT SEMI  &to 5
&kp LSHFT  &kp Z           &kp X        &kp C                &kp V         &kp B          &none   &none              &kp N                &kp M        &kp COMMA           &kp DOT
&kp FSLH   &none           &none        &none                &none         &mo 3   &kp A  &mo 1   &kp SPACE          &kp ENTER            &kp A        &mo 2               &none          &none
                                                                                          &none                                                                                           &to 4
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        symbols {
            bindings = <
&kp ESC         &kp F1     &kp F2         &kp F3     &kp F4        &kp F5                  &kp F6  &kp F7             &kp F8                &kp F9             &kp F10                &kp F11
&none           &none      &kp HASH       &kp EQUAL  &kp ASTERISK  &kp QUESTION            &none   &kp DOUBLE_QUOTES  &kp SQT               &none              &none                  &none
&none           &kp TILDE  &kp AT_SIGN    &kp MINUS  &kp PLUS      &kp PERCENT             &none   &kp LEFT_BRACKET   &kp LEFT_PARENTHESIS  &kp LEFT_BRACE     &kp UNDERSCORE         &kp PIPE
&kp LEFT_SHIFT  &none      &kp AMPERSAND  &kp GRAVE  &kp DOLLAR    &kp EXCLAMATION         &none   &none              &none                 &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE
&kp BACKSLASH   &none      &none          &none      &none         &none            &none  &none   &kp SPACE          &kp RETURN            &none              &none                  &none            &none
                                                                                           &none                                                                                                       &none
            >;

            sensor-bindings =
                <&inc_dec_kp PG_UP PG_DN>,
                <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        manage {
            bindings = <
&kp ESCAPE              &none                  &none                  &none                     &none                         &none                         &none                     &none                     &none                     &none                         &none                         &none
&none                   &kp LS(LA(LC(LG(Q))))  &kp LS(LA(LC(LG(W))))  &kp LC(LEFT_COMMAND)      &kp RS(RA(RC(RG(R))))         &kp LS(LA(LC(LG(T))))         &kp RA(RC(RG(NUMBER_1)))  &kp RA(RC(RG(NUMBER_2)))  &kp RA(RC(RG(NUMBER_3)))  &kp RA(RC(RG(NUMBER_4)))      &kp RA(RC(RG(NUMBER_5)))      &none
&none                   &kp LS(LA(LC(LG(A))))  &kp LS(LA(LG(LC(S))))  &kp LS(LA(LEFT_COMMAND))  &kp LA(LC(LS(LEFT_COMMAND)))  &kp LS(LA(LC(LG(G))))         &kp LEFT_ARROW            &kp DOWN_ARROW            &kp UP_ARROW              &kp RIGHT                     &kp LS(LA(LC(LG(Y))))         &none
&kp LSHIFT              &kp LS(LA(LC(LG(Z))))  &kp LS(LA(LC(LG(X))))  &kp LS(LA(LC(LG(C))))     &kp LS(LA(LC(LG(V))))         &kp LS(LA(LC(LG(B))))         &none                     &none                     &kp RS(RA(RC(RG(N1))))    &kp RS(RA(RC(RG(NUMBER_2))))  &kp RS(RA(RC(RG(NUMBER_3))))  &kp RS(RA(RC(RG(NUMBER_4))))
&kp RS(RA(RC(RG(N5))))  &none                  &none                  &none                     &none                         &none                  &none  &kp LS(LA(LC(LG(P))))     &kp LS(LA(LC(LG(L))))     &none                     &none                         &none                         &none                         &none
                                                                                                                                                            &none                                                                                                                                                                   &none
            >;

            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW &inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        adjust {
            bindings = <
&out OUT_BLE       &bt BT_SEL 0                     &bt BT_SEL 1                       &bt BT_SEL 2                      &bt BT_CLR                       &out OUT_USB                             &none  &none  &none  &none  &none  &none
&rgb_ug RGB_TOG    &rgb_ug RGB_BRD                  &rgb_ug RGB_BRI                    &rgb_ug RGB_SPD                   &rgb_ug RGB_SPI                  &rgb_ug RGB_EFF                          &none  &none  &none  &none  &none  &none
&ext_power EP_TOG  &rgb_ug RGB_COLOR_HSB(0,100,50)  &rgb_ug RGB_COLOR_HSB(218,100,50)  &rgb_ug RGB_COLOR_HSB(120,97,50)  &rgb_ug RGB_COLOR_HSB(60,0,100)  &rgb_ug RGB_COLOR_HSB(64,100,52)         &none  &none  &none  &none  &none  &none
&sys_reset         &bootloader                      &none                              &none                             &ind IND_ON                      &ind BAT_ST                              &none  &none  &none  &none  &none  &none
&none              &none                            &none                              &none                             &none                            &mo 3                             &none  &none  &none  &none  &none  &none  &none  &none
                                                                                                                                                                                                   &none                                     &none
            >;
        };

        game {
            bindings = <
&kp ESCAPE      &trans  &trans  &trans  &trans  &trans                &kp F9     &kp F8     &kp F7  &trans  &trans  &kp BACKSPACE
&kp P           &kp Q   &kp W   &kp E   &kp R   &kp T                 &trans     &trans     &trans  &trans  &trans  &trans
&kp TAB         &kp A   &kp S   &kp D   &kp F   &kp G                 &trans     &trans     &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C   &kp V   &kp B                 &trans     &trans     &trans  &trans  &trans  &trans
&trans          &trans  &kp J   &kp H   &kp M   &kp N   &kp LEFT_ALT  &kp LCTRL  &kp SPACE  &trans  &trans  &trans  &trans         &trans
                                                                      &trans                                                       &to 0
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        mouse {
            bindings = <
&trans  &trans  &trans          &trans          &trans           &trans          &trans             &trans             &trans            &trans            &trans  &trans
&trans  &trans  &trans          &msc SCRL_UP    &trans           &trans          &trans             &trans             &trans            &trans            &trans  &trans
&trans  &trans  &mkp MCLK       &mkp LCLK       &mkp LCLK        &trans          &mmv MOVE_X(-600)  &mmv MOVE_Y(-600)  &mmv MOVE_Y(600)  &mmv MOVE_X(600)  &trans  &to 0
&trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans          &trans             &trans             &trans            &trans            &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans  &trans  &trans             &trans             &trans            &trans            &trans  &trans  &trans
                                                                                 &trans                                                                                    &trans
            >;
        };

        homerow_off {
            bindings = <
&kp ESCAPE      &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4      &kp NUMBER_5         &kp NUMBER_6   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp BACKSPACE
&kp LCTRL       &kp Q            &kp W         &kp E         &kp R             &kp T                &kp Y          &kp U         &kp I         &kp O         &kp P         &kp RIGHT_ALT
&kp TAB         &kp A            &kp S         &kp D         &kp F             &kp G                &kp H          &kp J         &kp K         &kp L         &kp SEMI      &to 5
&kp LEFT_SHIFT  &kp Z            &kp X         &kp C         &kp V             &kp B                &none          &none         &kp N         &kp M         &kp COMMA     &kp PERIOD
&kp SLASH       &kp RIGHT_SHIFT  &none         &kp LEFT_ALT  &kp LEFT_COMMAND  &mo 3         &mo 1  &to 0          &kp SPACE     &kp RETURN    &none         &mo 2         &none          &kp RIGHT_COMMAND
                                                                                                    &kp RIGHT_ALT                                                                         &to 4
            >;
        };
    };
};
